<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Reporte de utilidad</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <form name="gerenteGeneral">
      <!-- <div class="form-group" style="margin:15px; font-family:'Nanum Myeongjo'; font-size: 120%"> -->
          <div class="x_content">
              <div   class="row" >
                <div class='col-md-3'>
                  <div class="form-group">
                    <label for="idsucursal">Sucursal:</label>
                    <select name="idsucursal" id='idsucursal' class="chosen-select form-control input-sm" #idsucursal>
                      <option value=''>Todas</option>
                      <option *ngFor="let sucursal of sucursales"  value='{{ sucursal[0] }}' >{{ sucursal[1] }} </option>
                    </select>              
                  </div>            
                </div>          
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="periodo">Fecha desde:</label>
                    <input type="date" class="form-control input-sm" name="fechaDesde" #fechaDesde value="2019-09-01" id="fechaDesde">
                  </div> 
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="periodo">Fecha hasta:</label>
                        <input type="date" class="form-control input-sm" name="fechaHasta" #fechaHasta value="2019-09-10" id="fechahasta">
                      </div> 
                      </div>
                  <div class="col-md-3">
                      <div class="form-group"><br>
                          <ion-button type="submit" (click)="tableResults(idsucursal.value, fechaDesde.value, fechaHasta.value)">Buscar</ion-button>
                    </div>
                    </div> 
              </div>
          </div>  
   </form>
  <div id=table>
      <div class="table-responsive" *ngIf="records">
          <h3>Consolidado por sucursal </h3>
          <table class="table table-bordered"  >
              <thead style="background-color: #cd1818">
                  <tr>
                      <th *ngFor='let iterador2 of tableTitle'> {{  iterador2 }} </th>
                  </tr>
              </thead>
              <tbody *ngFor='let iterador of ( table  | async)  ; let i=index'>
                  <tr *ngIf="i > 1 && records">
                      <td *ngFor='let iterador2 of ( tableTitle ); let j=index'> {{ iterador[j] }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
   </div>
   </ion-content>
   