<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- width="4px" class="images" -->
<ion-content padding >
    <ion-card class="welcome-card">
      <img src="/assets/icon/favicon.png"  />
      <ion-card-header>
        <ion-card-subtitle>Software web</ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Software para distribuidores claro, con manejo de inventario: por serial,
          DTH, facturación prepago, postpago,
          reposiciones, Claro hogar, comisiones Claro/vendedores, reportes de gerencia y auditoría.
      </ion-card-content>
    </ion-card>
    </ion-content>