ion-content {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center; 
  }
  ion-header {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;  
  }
  
 /*  ion-content {
    --background: none;
    background-image: url(../login/images/businessMeeting.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;    
} */

#opacity{
  opacity: 0.9;
}