ion-content {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;  
  }
  ion-header {
    
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;  
  }
 /*  image {
    max-width:50%;
    align-content: center;
    align-items: center;
    align-self: center;
    float: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  } */