<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Reporte postpago segmentos
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <form name="gerenteGeneral">
      <!-- <div class="form-group" style="margin:15px; font-family:'Nanum Myeongjo'; font-size: 120%"> -->
          <div class="x_content">
              <div   class="row" >
                <div class='col-md-3'>
                  <div class="form-group">
                    <label for="idsucursal">Sucursal:</label>
                    <select name="idsucursal" id='idsucursal' class="chosen-select form-control input-sm" #idsucursal>
                      <option value=''>Todas</option>
                      <option *ngFor="let sucursal of sucursales"  value='{{ sucursal[0] }}' >{{ sucursal[1] }} </option>
                    </select>              
                  </div>            
                </div>    
                <div class='col-md-3'>
                    <div class="form-group">
                      <label for="idcategoria">Segmentos:</label>
                      <select name="segmento" id='segmento' class="chosen-select form-control input-sm" #segmento>
                        <option value=''>Todas</option>
                        <option value='171'>Masivo</option>
                        <option value='172'>Pyme</option>
                        <option value='173'>SYG (Gobierno)</option>
                      </select>              
                    </div>            
                  </div>        
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="periodo">Fecha desde:</label>
                    <input type="date" class="form-control input-sm" name="fechaDesde" #fechaDesde value="2019-09-01" id="fechaDesde">
                  </div> 
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="periodo">Fecha hasta:</label>
                        <input type="date" class="form-control input-sm" name="fechaHasta" #fechaHasta value="2019-09-30" id="fechahasta">
                     </div> 
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="periodo">Filtro:</label>
                        <input type="text" class="form-control input-sm" name="filtro" #filtro id="filtro">
                     </div> 
                  </div>
                  <div class="col-md-3">
                      <div class="form-group"><br>
                          <ion-button type="submit" (click)="tableResults(idsucursal.value, fechaDesde.value, fechaHasta.value, segmento.value, filtro.value)">Buscar</ion-button>
                    </div>
                    </div> 
              </div>
          </div>  
   </form>
  <div id=table>
      <ion-spinner name="circles" *ngIf="!records" id="colorLoading"></ion-spinner>
      <div class="table-responsive" *ngIf="records">
          <hr style="color: #0056b2 ;" noshade="noshade" size="10" width="100%"  /> 
          <br>
          <table class="table table-bordered"  >
              <thead id="Headertable">
                  <tr>
                      <th *ngFor='let iterador2 of tableTitle'> {{  iterador2 }} </th>
                  </tr>
              </thead>
              <tbody *ngFor='let iterador of ( table  | async)  ; let i=index'>
                  <tr *ngIf="i > 1 && records ">
                    <td *ngFor='let iterador2 of ( tableTitle ); let j=index'> {{ iterador[j] }}</td>
                  </tr>
                    
              </tbody>
          </table>
      </div>
   </div>

  
   </ion-content>
   