<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Great+Vibes&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<ion-header>
    <ion-toolbar color="secondary" >
      <ion-title style="font-size: 100%; font-family:'Kaushan Script', cursive;text-align: center;
   align-content: center; "> <!--  IdNetworking <p> --> !Dejate asesorar por un experto!  <!-- </p> --></ion-title> 
    </ion-toolbar>
  </ion-header>


<ion-content padding>
  <br> <br>
  <p style=" -webkit-text-stroke: 1px black ; font-size: 150%; font-family: 'Archivo Black', sans-serif;" >BIENVENIDO A IDNETWORKING!</p>
  <br>
  <ion-button style="width:60%" routerLink="/login/" > Acceder a Like </ion-button>
  <br>
  <br>
  <i class="fa fa-cloud"></i>
<!--   <img src="/assets/icon/like.png">
  <div class="b" > </div> -->
  <div style="max-width:100%; background-color: black; opacity: 0.6; margin: 0 auto;"><h3> ¿Qué es Like? </h3>
    Software para distribuidores claro, con manejo de   inventario: por serial, DTH, facturación prepago, postpago,
     reposiciones, Claro hogar, comisiones Claro/vendedores, reportes de gerencia y auditoría.
     <br>
     <p> </p>
       <table class="table-responsive" >
        <tr>
          <td>
              <img src="/assets/icon/inventario.png" width='60%'>
          </td>
          <td>
              <img src="/assets/icon/facturacion.png" width='60%'>
          </td>
          <td>
             <img src="/assets/icon/cuentas.png" width='60%'></td>
        </tr>
        <tr>
              <td>Inventario</td>
              <td>Facturación</td>
              <td>Ctas. x cobrar y x pagar</td>
        </tr>
        <tr>
          <td>
            <img src="/assets/icon/contabilidad.png" width='60%'>
          </td>
          <td>
            <img src="/assets/icon/reportes.png" width=60%>
          </td>
          <td>
             <img src="/assets/icon/auditoria.png" width=60%>
          </td>
        </tr>
        <tr>
            <td>Contabilidad</td>
            <td>Reportes</td>
            <td>Auditoria</td>
        </tr>
        <tr >
          <td><img src="/assets/icon/comisiones.png" width=60%></td>
        </tr>
        <tr>
          <td>Comisiones</td>
        </tr>
       </table> 
    </div>
   
     <br>
     <div style="max-width:100%; background-color: red ; opacity: 0.6; margin: 0 auto;">
     <h4>Ventas: 310 223 9220</h4>
     <h4>Soporte:  322 5308285, 311 8194609 </h4>
    </div>
     <!-- <div class="cc"><p><strong> Inventario</strong></p> Administración de inventario prepago, postpago, DTH,
      por serial y por cantidad, traslados entre sucursales, préstamos a vendedores, informes de valoración </div> -->
</ion-content>